.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom,#161616 0,rgba(22,22,22,.9) 75%,rgba(22,22,22,.8) 100%);
    p {
        margin-bottom: 5rem;
        a {
            color: #64a19d;
        }
    }
    .img-fluid {
        max-width: 100%;
        height: auto;
    }
}